<!DOCTYPE html>
<html lang="en">
    {{template "head"}}
    <body class="p-3 m-0">
        <div hx-ext="response-targets">
            <h1><span>Photorio</span></h1>
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">              
                    <input 
                        name="prompt"
                        type="search"
                        class="form-control"
                        hx-post="/search"
                        hx-trigger="keyup[key == 'Enter']"
                        placeholder="Search for photos..."
                        hx-target="#results"
                        hx-target-404="#not-found"
                        hx-target-5**="#results"
                        hx-indicator="#spinner"
                    >
                    {{ if . }}
                    <a class="btn btn-primary" href="/admin">Admin</a>
                    {{else}}
                    <a class="btn btn-primary" href="/signin">Sign In</a>
                    {{end}}
                </div>
            </nav>
            <div id="results"></div>
            <div id="spinner" class="htmx-indicator alert alert-primary" role="alert">Searching...</div>
        </div>
    </body>
</html>